
    <div class="tpl-page-container tpl-page-header-fixed">
        {include file="public/leftmenu" /}




        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                	干洗店智能管理系统
            </div>
            <ol class="am-breadcrumb">
                <li><a href="{$Think.URL_PATH}gx/public/" class="am-icon-home">首页</a></li>
                <li><a href="{$Think.URL_PATH}gx/public/index/c_category/index">颜色</a></li>
                <li class="am-active">修改</li>
            </ol>
            <div class="tpl-portlet-components" >
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-edit"></span> 修改
                    </div>


                </div>

                <div class="tpl-block">

                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form" action="{$Think.URL_PATH}gx/public/index/color/doedit" method="post">

                            	
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">颜色 <span class="tpl-form-line-small-title">Color</span></label>
                                    <div class="am-u-sm-9">
                                        <input value="{$color['color_name']}" type="text" name='color_name' class="tpl-form-input" id="user-name" placeholder="请输入小类名称 ">
                                    </div>
                                </div>



 
								<input type="hidden" name="color_id" value="{$color.color_id}"/>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit"  class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>










        </div>

    </div>


    <script src="{$Think.PUBLIC_PATH}static/js/jquery.min.js"></script>
    <script src="{$Think.PUBLIC_PATH}static/js/amazeui.min.js"></script>
    <script src="{$Think.PUBLIC_PATH}static/js/app.js"></script>
</body>

</html>